* {
    margin: 0;
    padding: 0;
    font-family: "ChelseaMarket";
    color: #FF69B4;
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

/* fallback */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: local('Material Icons'), local('MaterialIcons-Regular'), url(https://fonts.gstatic.com/s/materialicons/v21/2fcrYFNaTjcS6g4U3t-Y5UEw0lE80llgEseQY3FEmqw.woff2) format('woff2');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

html, body, #content {
    height: 100%;
    width: 100%;
}

#content {
    background-color: #edd2e5;
    background-image: linear-gradient(90deg, rgba(239, 195, 220, 0.5) 50%, transparent 50%), linear-gradient(rgb(233, 158, 197) 50%, transparent 50%);
    background-size: 250px 250px;
}

@font-face {
    font-family: "ChelseaMarket";
    src: url("ChelseaMarket-Regular.ttf") format("truetype");
}

#header {
    top: 0;
    position: fixed;
    height: 125px;
    z-index: 1;
}

#footer {
    position: absolute;
    height: 180px;
    bottom: 0;
}

#header, #footer {
    width: 100%;
    background: linear-gradient(to bottom,#f7d2f7,#fff);
    box-shadow: 0 0 50px #b47eab;
    padding: 16px;
}

#newsletter {
    width: 50%;
    float: left;
}

#contato {
    width: 100%;
}

.contato-item{
    margin-left: 20px;
}

.contato-item *{
    float: left;
    margin: 5px;
    font-size: 30px;
}

.contato-item span{
    font-size: 40px;
}

#input-newsletter {
    width: 70%;
    padding: 10px;
    border-radius: 5px;
    outline: none;
    border: 1px solid;
    font-size: 15px;
    height: 50px;
    box-shadow: 0 0 10px #b47eab;
}

#btn-newsletter{
    width: 27%;
    margin-left: 1%;
    height: 50px;
    background:  #FF69B4;
    color: #fff;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 10px #b47eab;
}

#logo {
    height: 100px;
    float: left;
}

#nav-header, #menu-button {
    display: none;
}

#nav, #nav-items {
    height: 100%;
    text-align: center;
}

#nav a {
    display: inline;
    position: relative;
    top: 30%;
    margin-right: 5%;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
}

@media (max-width: 900px) {
    #logo {
        float: none;
        display: block;
        margin: 0 auto 0 auto;
    }

    #menu-button, #menu-button-close {
        font-size: 50px;
        width: 60px;
        height: 60px;
        left: 20px;
        position: relative;
        border: none;
        background: none;
    }

    #menu-button {
        display: block;
        float: left;
        top: 15px;
    }

    #nav, #nav:before, #nav-items {
        top: 0;
        left: 0;
        height: 100%;
    }

    #nav, #nav:before {
        width: 100%;
    }

    #nav {
        position: fixed;
        pointer-events: none;
    }

    #nav:before {
        content: '';
        position: fixed;
        background: rgba(0,0,0,0.4);
        opacity: 0;
        transition: opacity 0.2s cubic-bezier(0,0,0.3,1);
    }

    #nav-items {
        width: 70%;
        position: fixed;
        background-color: #fff;
        text-align: left;
        padding-left: 30px;
        box-shadow: 2px 0 12px rgba(0,0,0,0.4);
        transform: translateX(-102%);
        transition: transform 0.2s cubic-bezier(0,0,0.3,1);
    }


    #nav-items a {
        display: block;
        top: 0;
        margin-bottom: 20px;
    }

    #nav.nav--visible {
        pointer-events: auto;
    }

    #nav.nav--visible:before {
        opacity: 1;
    }

    #nav.nav--visible #nav-items {
        transform: none;
    }

    #nav-header {
        background: pink;
        height: 60px;
        display: block;
        margin-left: -30px;
        margin-bottom: 30px;
    }

    #newsletter {
        width: 100%;
    }

    #contato {
        width: 100%;
    }
}
