* {
    margin: 0;
    padding: 0;
    font-family: "ChelseaMarket";
    color: #FF69B4;
}

*:focus {
    outline: none;
}

html, body, #content {
    height: 100%;
    width: 100%;
}

#content {
    background-color: #edd2e5;
    background-image: linear-gradient(90deg, rgba(239, 195, 220, 0.5) 50%, transparent 50%), linear-gradient(rgb(233, 158, 197) 50%, transparent 50%);
    background-size: 250px 250px;
}

@font-face {
    font-family: "ChelseaMarket";
    src: url("ChelseaMarket-Regular.ttf") format("truetype");
}

#header {
    height: 125px;
    width: 100%;
    background: linear-gradient(to bottom,#f7d2f7,#fff);
    box-shadow: 0 0 50px #b47eab;
    position: fixed;
    top: 0;
}

#logo {
    height: 125px;
    float: left;
}

#nav-header,
#menu-button {
    display: none;
}

#nav, #nav-items {
    height: 100%;
    text-align: center;
}

#nav a {
    display: inline;
    position: relative;
    top: 30%;
    margin-left: 3%;
    font-size: 24px;
    font-weight: bold;
}

@media (max-width: 900px) {
    
    #logo{
        float: none;
        display: block;
        margin: 0 auto 0 auto;
    }

    #menu-button, 
    #menu-button-close{
        font-size: 50px;
        width: 60px;
        height: 60px;        
        left: 20px;
        position: relative;
        border: none;
        background: none;
    }

    #menu-button{
        display: block;
        float: left;
        top: 30px;
    }

    #nav, #nav:before, #nav-items{
        top: 0;
        left: 0;
        height: 100%;
    }

    #nav, #nav:before{
        width: 100%;
    }


    #nav{
        position: fixed;
        pointer-events: none;
    }

    #nav:before{
        content: '';
        position: absolute;
        background: rgba(0,0,0,0.4);
        opacity: 0;
        transition: opacity 0.3s cubic-bezier(0,0,0.3,1);
    }

    #nav-items{
        width: 70%;
        position: relative;
        background-color: #fff;
        text-align: left;
        padding-left: 30px;
        box-shadow: 2px 0 12px rgba(0,0,0,0.4);
        transform: translateX(-102%);
        transition: transform 0.3s cubic-bezier(0,0,0.3,1);
    }

    #nav-items a{
        display: block;
        top: 0;
        margin-bottom: 20px;
    }

    #nav.nav--visible{
        pointer-events: auto;
    }

    #nav.nav--visible:before{
        opacity: 1;
    }

    #nav.nav--visible #nav-items{
        transform: none;
    }

    #nav-header{
        background: pink;
        height: 60px;
        display: block;
        margin-left: -30px;
        margin-bottom: 30px;
    }

}